@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color: #0c1924;
  --secondary-color: #e26e26;
  --third-color: #f7f7f7;
  --padding-desktop: 7.4rem 14.8rem 0;
  --padding-mobile: 3.2rem 3.5rem 0;
}

html {
  /* Cada rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--primary-color);
  color: var(--third-color);
}

a {
  font-family: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  transform: scale(1);
  transition: transform 0.1s ease;
  z-index: -1;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

section {
  min-height: 100vh;
  overflow: hidden;
}
